
.tag-name{
    font-size: 1rem;
    font-weight: 400;
    border: 1px solid #dde1ef;
    border-radius: 4px;
    color: #000;
    margin: 10px 8px;
    padding: 5px 12px;
    background-color: #ffffff;
    cursor: pointer;
    &:hover{
        background: linear-gradient(
            90deg,
            rgb(194, 205, 208) 0%,
            rgb(166, 170, 171) 100%
          );
        // border-color: rgb(212, 212, 212);
        color: white;
    }
  }
  .active{
    background: linear-gradient(
      90deg,
      rgb(235, 123, 10) 0%,
      rgb(236, 165, 111) 100%
    );
  color: white;
  }
  
  
  
  
    