.todo-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 4px auto;
  // color: rgb(10, 5, 5);
  // border: 1px solid black;
  color: #fff;
  background: linear-gradient(
    90deg,
    rgb(232, 131, 59) 0%,
    rgb(246, 161, 128) 100%
  );

  padding: 16px;
  border-radius: 5px;
  width: 80%;
  .icons {
    display: flex;
    align-items: center;
    font-size: 24px;
    cursor: pointer;
  }

  .delete-icon {
    margin-right: 5px;
    color: rgb(179, 51, 51);
    // color: rgb(255, 255, 255);
  }

  .edit-icon {
    color: rgb(2, 2, 2);
    // color: #fff;
  }
  .complete {
    text-decoration: line-through;
    opacity: 0.4;
  }
  .checkbox {
    width: 1.5rem;
    height: 1.5rem;
  }
}
.paginationBttns {
  width: 85%;
  height: 10px;
  list-style: none;
  display: flex;
  justify-content: center;
  a {
    background-color: #fff;
    padding: 10px;
    margin: 5px;
    border-radius: 5px;
    border: 1px solid rgb(246, 101, 10);
    color: rgb(118, 112, 112);
    cursor: pointer;
    &:hover {
      background: linear-gradient(
        90deg,
        rgb(247, 150, 80) 0%,
        rgb(248, 126, 77) 100%
      );
      color: white;
    }
  }

  .paginationActive {
    a {
      background: linear-gradient(
        90deg,
        rgb(251, 132, 47) 0%,
        rgb(255, 117, 62) 100%
      );
      color: white;
    }
  }
}
